body {
  align-items: center;
  background-color: #f0dc4e;
  color: #2e302c;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
}

input {
  width: 250px;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  display: flex;
  flex-direction: center;
  align-items: center;
}

.modal {
  width: 460px;
  height: 840px;
  height: 95%;
  box-sizing: border-box;
}

a,
p {
  color: #2e302c;
}

li::marker {
  color: #2e302c;
  list-style-position: inside;
}
